@import "./theme";

.markEverything {
    & > * {
        outline: 3px solid rgba($clinical-cyan-500, 0.5) !important;
        & > * {
            outline: 3px solid rgba($optimistic-orange-500, 0.5) !important;
            & > * {
                outline: 3px solid rgba($gladly-green-500, 0.5) !important;
            }
        }
    }

    :global {
        & iframe {
            // just to me the iframe an block instead of inline-block.
            display: block;
        }
    }
}

.turnstileContainer {
    $padders: map-get(
        $map: $spacers,
        $key: 2,
    );
    padding: $padders;
    min-height: calc((#{$padders} * 2) + 65px);

    &.forced iframe{
        height: 65px !important;
        width: 300px !important;
    }
}
